* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

:root {
  --success-color: rgb(4, 173, 75);
  --error-color: rgb(230, 34, 20);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
}

.main__title {
  text-align: center;
  padding-top: 20px;
}

.form {
  padding: 30px 40px;
}

.form__label {
  display: block;
  margin: 15px 0 5px 0;
  font-size: 16px;
}

.form__input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
}

.form__input:focus {
  outline: 0;
  border-color: grey;
}

.form__small {
  color: var(--error-color);
  visibility: hidden;
}

.form__small.error {
  visibility: visible;
}

.form__button {
  display: block;
  cursor: pointer;
  background-color: rgb(13, 116, 212);
  color: white;
  border: 2px solid rgb(13, 116, 212);
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
}

.success {
  border-color: var(--success-color);
}

.error {
  border-color: var(--error-color);
}
